# use glob syntax
syntax: glob

*.tmp
BuildResult/*
generatedJUnitFiles/*
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]uild
[Bb]in
[Db]ebug*/
obj/
[Cc]ached/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
**/media

**/.nuget
**/.vs
.idea/
[Pp]ackages/*
.Komplett.InfoCenter.boltdata/NCover/
Projects/Komplett.InfoCenter.Web/Config/FileSystemProviders.config
Projects/Komplett.InfoCenter.Web/Config/RR.config
Projects/Komplett.InfoCenter.Web/Config/JellyFishConfiguration.config

# Don't track node and bower modules
node_modules
bower_components
generated-css
generated-js

# All except Models
**/App_Data/Logs/**
**/App_Data/NuGetBackup/**
**/App_Data/packages/**
**/App_Data/TEMP/**
**/App_Data/preview/**
**/App_Data/umbraco.config

Projects/InfoCenter/infocentermedia
Projects/InfoCenter/App_Data/cache/

/Projects/InfoCenter/img/
/Projects/InfoCenter/mlf/
/Projects/InfoCenter/Responsive/
/Projects/InfoCenter/a/
/Projects/InfoCenter/JsBundles/
/Projects/InfoCenter/CrossSiteRequestForgery/
/Projects/InfoCenter/PageDependentComponents/
/Projects/InfoCenter/PagesAsync/
/Projects/InfoCenter/Layout/
/Projects/InfoCenter/Components/
/Projects/InfoCenter/JScript/
/Projects/InfoCenter/infocenter/generated-svg


**/storemedia/*

# Track packages that are needed in build process
!/packages/Komplett.MsBuild.Versioning.*/**/*
/Projects/InfoCenter/css/customRichTextEditorStyle.css
/Projects/InfoCenter/css/customRichTextEditorStyle.css.map
/Projects/InfoCenter/Config/ClientDependency.config
/Projects/InfoCenter/Config/connectionStrings.config
/Projects/InfoCenter/Config/umbracoSettings.config
/Projects/InfoCenter/Config/uSyncBackOffice.config
/Projects/InfoCenter/Config/log4net.config
/Projects/InfoCenter/Config/jwtSessionCookie.config
